<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>DEPARTMENTS</title>
<link rel="stylesheet" href="/stylesheets/department.css">
</head>
<body>
<div class="container">
    <h1 class="heading">BTech Courses</h1>
    <a class="button" id="cse">Computer Science Engineering</a>
    <a class="button" id="ise">Information Science Engineering</a>
    <a class="button" id="mech">Mechanical Engineering</a>
    <a class="button" id="civil">Civil Engineering</a>
    <a class="button" id="eee">Electrical Engineering</a>
    <a class="button" id="ece">Electronics and Communication Engineering</a>
    <a class="button" id="ase">Aerospace Engineering</a>
    <a class="button" id="bt">Biotechnology Engineering</a>
    <a class="button" id="query">Query Execution</a>
</div>
<script src="/javascripts/department.js"></script>
</body>
</html>