<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/projects.css">
</head>
<body>
    <div class="container" id="container">
        <div class="box1" id="box1">
            <h2>PROJECT DETAILS</h2>
            <span id="project">
                <div id="projectname"><b><i>PROJECT NAME-1 :</i></b></div>
                <!-- <div>:</div> -->
                <input type="text" id="input1" required>
            </span>
            <span id="project">
                <div id="projectname"><b><i>ORGANIZATION :</i></b></div>
                <!-- <div>:</div> -->
                <input type="text" id="input1org" required>
            </span>
            <span id="project">
                <div id="projectname"><b><i>DESCRIPTION :</i></b></div>
                <!-- <div>:</div> -->
                <textarea  id="description1" cols="40" rows="7" required></textarea>
            </span>
            <span id="project">
                <div id="projectname"><b><i>PROJECT NAME-2 :</i></b></div>
                <!-- <div>:</div> -->
                <input type="text" id="input2" required>
            </span>
            <span id="project">
                <div id="projectname"><b><i>ORGANIZATION :</i></b></div>
                <!-- <div>:</div> -->
                <input type="text" id="input2org" required>
            </span>
            <span id="project">
                <div id="projectname"><b><i>DESCRIPTION :</i></b></div>
                <!-- <div>:</div> -->
                <textarea  id="description2" cols="40" rows="7" required></textarea>
            </span>
            <span id="project">
                <div id="projectname"><b><i>PROJECT NAME-3 :</i></b></div>
                <!-- <div>:</div> -->
                <input type="text" id="input3" required>
            </span>
            <span id="project">
                <div id="projectname"><b><i>ORGANIZATION :</i></b></div>
                <!-- <div>:</div> -->
                <input type="text" id="input3org" required>
            </span>
            <span id="project">
                <div id="projectname"><b><i>DESCRIPTION :</i></b></div>
                <!-- <div>:</div> -->
                <textarea  id="description3" cols="40" rows="7" required></textarea>
            </span>
            
        </div>

        <div class="box2" id="box2">
            <h2>INTERNSHIP DETAILS</h2>
            <span>
                <div id="internship"><b><i>COMPANY NAME :</i></b></div>
                <!-- <div>:</div> -->
                <input type="text" id="inputcompn" required>
            </span>
            <span>
                <div id="internship"><b><i>START DATE :</i></b></div>
                <!-- <div>:</div> -->
                <input type="date" id="inputstart" required>
            </span>
            <span>
                <div id="internship"><b><i>END DATE :</i></b></div>
                <!-- <div>:</div> -->
                <input type="date" id="inputend" required>
            </span>
            <!-- <span id="project">
                <div id="internship"><b><i>WORKED ON</i></b></div>
                <div>:</div>
                <textarea  id="description" cols="40" rows="7"></textarea>
            </span> -->
            <h2 id="A">ACHIEVEMENTS</h2>
            <span id="achieve">
                <div id="achievements"><b><i>ACHIEVEMENT-1 :</i></b></div>
                <!-- <div>:</div> -->
                <textarea  id="ach1" cols="40" rows="7" required></textarea>
            </span>
            <span id="achieve">
                <div id="achievements"><b><i>ACHIEVEMENT-2 :</i></b></div>
                <textarea  id="ach2" cols="40" rows="7" required></textarea>
            </span>
            <button width="40px" id="projectsub">SUBMIT</button>
        </div>
    </div>
    <!-- <script src="/javascripts/profile.js"></script> -->
    <script src="/javascripts/projects.js"></script>
</body>
</html>